.simplestyle{
    color: red;
}

.files{
    height: 200px;
    width:350px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.files li{
    cursor: hand;
    list-style-type: none;
    padding: 5px 3px;
}

.files li:hover{
    background-color: #a4cff9;
}

.file-type-icon{
   width:16px; 
   height:16px;
   background-size: 16px 16px;
    background-repeat: no-repeat;
   display: block;
   float: left;
   margin-right: 5px;
}
.folder
{ 
   background-image:url('app/images/Folder-icon.png'); 
}
.blank-file
{ 
   background-image:url('app/images/_blank.png'); 
}
.mp3-file
{ 
   background-image:url('app/images/mp3.png'); 
}
.mp4-file
{ 
   background-image:url('app/images/mp4.png'); 
}
.zip-file
{ 
   background-image:url('app/images/zip.png'); 
}