.simplestyle{
    color: red;
}

.files{
    height: 200px;
    width:350px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.files li{
    cursor: hand;
    list-style-type: none;
    padding: 5px 3px;
}

.files li:hover{
    background-color: #a4cff9;
}